body, html, input {
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 10px;
	background-color: #375D81;
}

input {
    color: #C4D7ED !important;
}

.item {
    color: #C4D7ED !important;
/*    background-color: #1A3352 !important;*/
}

.vis.timeline .item.range {
    background-color: #1A3352 !important;
    border-color: #C4D7ED;
    
}

.vis.timeline .labelset .vlabel {
    color: #C4D7ED !important;
}

.vis.timeline .timeaxis .text {
    color: #C4D7ED !important;
}


#visualization {
    position: relative;
}

gridvertical minor

.menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 9999;
}
/*.vis.timeline .item {
  border-color: orange;
  background-color: yellow;
  font-size: 6pt;
}*/

.vis.timeline .timeaxis .grid.minor {
    visibility: hidden; 
}



